<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="manifest.json" rel="manifest" />
    <meta name="theme-color" content="orange">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>

    <link rel="icon" type="image/png" href="https://drive.google.com/uc?export=view&id=1UtRD0I1vetvd7yon_DcH1C_xdSzO5UWu" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Html.Partial("~/Views/Shared/_ViewAlert.cshtml")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Carrito", "Cart", "Home")</li>
                    <li>@Html.ActionLink("Productos", "Product", "Home")</li>
                    <li>@Html.ActionLink("Nuevo Producto", "NewProduct", "Home")</li>
                    <li>@Html.ActionLink("Cargar Productos pruebas", "Loading", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Controllers/Alert.js"></script>
    <script src="~/app.js"></script>
</body>
</html>
